.container{
    border: solid black;
    width: 300px;
    /* height: 300px; */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:rgb(102, 105, 102) ;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 200px;
    

}

.row{
    display: flex;
    gap: 5px;
}
 .row div{
    border:solid black 1px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;

 }
 input{
    width: 100%;
    height: 60px;
    border-radius: 15px;
    border: solid black 3px;
    background-color: rgb(110, 204, 126);
    
 }

 .number{
    background-color: rgb(54, 53, 53);
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
 }

 .simbols{
    background-color: rgb(156, 154, 154);
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
 }